player-connection-mode=Listen
player-connection-guid=1260478218
player-connection-debug=0
player-connection-project-name=HallamNathan_AGGP225_Final
player-connection-ip=64.72.1.208
player-connection-ip=192.168.56.1
player-connection-ip=169.254.239.51
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
